<h1>weather</h1>

			<form action="{{ url_for('index_get') }}" method="post" enctype="multipart/form-data">
			<label for="city">Search</label>
			<input type="city" name="city" placeholder="Enter city to see temp">
			<input type="submit" value="find" class="btn btn-danger">

			</form>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set message_class = 'is-success' %}

                                {% if category == 'error' %}
                                    {% set message_class = 'is-danger' %}
                                {% endif %}
                                <div class="notification {{ message_class }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}


{% for weathers in weather %}
<h2>{{ weathers.city }}</h2>
<h3><b>{{ weathers.temperature }}</b></h3>
<h4>{{ weathers.description }}</h4>
<img src="http://openweathermap.org/img/w/{{ weathers.icon }}.png" >

{% endfor %}




